*{
	margin: 0; padding: 0;
	font-family: "Segoe UI";
	max-width: 100% !important;
}
a{
	text-decoration: none;
}
nav{
	display: block;
	height: 50px;
	line-height: 50px;
	background-color: gray;
}
nav ul{
	float: left;
}
nav li{
	display: inline-block;
	color: azure;
	padding: 0px 10px;
}
nav li:hover{
	color: white;
	cursor: pointer;
}
th{
	background-color: #dcdcdc;
}
.konten{
	width: 90%; margin: 0 auto;
}
.konten2{
	min-height: 600px;
}
.brand{
	float: left; padding: 0px 50px;
	color: azure;
}
.tmbl{
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
}
.tmbl:hover{
	cursor: pointer;
}
.tmbl2{
	padding: 3px;
	margin-top: 5px;
	border: none;
	border-radius: 3px;
}
.tmbl2:hover{
	cursor: pointer;
}
.tombol1{
	background-color: grey;
	color: white;
}
.tombol1:hover{
	background-color: darkorange;
}
.footer{
	display: block; clear: both;
	background-color: gray;
	text-align: center;
	padding-top: 15px;
	min-height: 35px;
	color: azure;
}